@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body, html {
    height: 100%;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(135deg, #ad1fff, #c560ff);
    text-align: center;
    overflow: hidden;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background: #603cba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #5a55a1;
}

.about-container {
    max-width: 600px;
    margin: 31px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.15em;
    line-height: 1.5;
    font-weight: normal;
}

.bottom-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
}

.bottom-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.bottom-links a:hover {
    color: #ffc107;
}

.bottom-links span {
    color: white;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .about-container {
        margin: 50px auto;
        padding: 10px;
        margin-bottom: 8vh;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }

    .bottom-links {
        position: static;
        margin-top: 3vh;
        text-align: center;
    }

    .credits {
      display: none;
    }

    .music-requests {
      display: none;
    }
}

@media (max-width: 480px) {
    .about-container {
        margin: 50px auto;
        padding: 10px;
        margin-top: 8vh;
    }

    h1 {
        font-size: 1.6em;
    }

        h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.8em;
    }

    .bottom-links a, .bottom-links span {
        font-size: 14px;
    }
}

.request {
    color: rgb(233, 233, 208);
    opacity: 85%;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.request:hover {
    opacity: 100%;
    color: beige;
}

.credits {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 100; 
}

.credits a {
  color: #ffc107; 
  text-decoration: none; 
  opacity: 80%;
  transition: all 0.2s ease-in;
  scale: 1;
}

.credits a:hover {
  text-decoration: underline;
  opacity: 100%;
}

.music-requests {
  position: absolute;
  bottom: 35px; 
  left: 45px;
  color: white;
  z-index: 100;
}

.music-requests a {
  color: #ffc107; 
  text-decoration: none; 
  opacity: 80%;
  transition: all 0.2s ease-in;
  scale: 1;
}

.music-requests a:hover {
  opacity: 100%;
}
