.ready-indicator {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.player-ready .ready-indicator {
    background-color: green;
}

.small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.game {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(100% - 40px);
    max-width: 850px;
    height: auto;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 14px auto;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
}

.card-title {
    text-align: center;
    color: #262626;
    font-size: calc(16px + 1vw);
    line-height: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.card-button {
    background-color: #6293c8;
    border: none;
    color: white;
    padding: 15px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: calc(10px + 1vw);
    width: 100%;
    box-sizing: border-box;
}

.card-button:hover {
    background-color: #384c6c;
}

.resize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.logoResize {
    width: 40%;
    max-width: 443px;
    display: block;
    margin: 0 auto;
    transition: all .5s !important;
}

.logoResize:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
        width: calc(93% - 30px);
    }

    .card-title {
        font-size: calc(14px + 2vw);
    }

    .card-button {
        font-size: calc(12px + 2vw);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }

    .resize .logoResize {
        width: 60%;
        max-width: 250px;
    }
}


.ranking-block {
    display: none; /* Make the ranking block visible */
    position: fixed;
    top: 40%; /* Adjust as necessary to position it above the leaderboard */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* White background */
    padding: 15px 30px; /* Adjust padding as necessary */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    z-index: 106; /* Ensure it's above the leaderboard */
    text-align: center; /* Center the text/content */
}


.leaderboard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 105;
}

#header {
    background-color: #6293c8;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px 8px 0 0;
}

#leaderboard {
    overflow: auto;
    max-height: 60vh;
}

#leaderboard table {
    width: 100%;
    table-layout: fixed;
}

#leaderboard th, #leaderboard td {
    text-align: left;
    padding: 15px;
}

#leaderboard .number, #leaderboard .name {
   
    float: left;
}

#leaderboard .points {
   
    float: right;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .leaderboard {
        width: 80%;
        padding: 15px;
    }

    .button {
        padding: 8px 20px;
    }
}
