@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background {
    animation: gradientAnimation 5s ease infinite;
    background: linear-gradient(270deg, #ad1fff, #c560ff);
    background-size: 400% 400%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background::before {
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
    z-index: -2;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.lp {
    align-self: center;
    transition: .2s scale;
    width: 80%;
    text-align: center;
}

.lp:hover {
    scale: 1.02;
}

.lpplaat {
    width: 500px;
    animation: lpdraai 3s linear infinite;
    align-self: center;
}

.header {
    font-size: 3em;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 2%;
}

.header .logo {
    width: 500px; /* Vaste breedte voor logo */
    max-width: 100%; /* Zorgt voor responsiviteit */
}

@keyframes lpdraai {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .header {
        font-size: 2em;
    }

    .lpplaat {
        width: 500px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 1.5em;
    }

    .lpplaat {
        width: 500px;
    }

    .header .logo {
        width: 80%; /* Aangepaste breedte voor kleinere schermen */
    }
}
